<div style="        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
position: relative;
background: white;
margin-bottom: 100px;
height: 60px;">
<img style="width: 150px;
float: inherit;
margin: 2px;" src="../../assets/img/logo_centered.png">

<svg viewBox="0 0 100 80" width="40" height="40" style="width: 30px;
float: right;
margin: 10px;
margin-right: 20px;">
    <rect width="100" height="17" fill="grey"></rect>
    <rect y="30" width="100" height="17" fill="grey"></rect>
    <rect y="60" width="100" height="17" fill="grey"></rect>
  </svg>
</div>

<!-- <div style="margin: auto; width: 80%;" class="row">
    <div class="col-md-1">
        
        </div>
<div class="col-md-5" style="    
height: 200px;
margin: 5px;
background: lightgrey;">
stats sa logo
</div>
<div class="col-md-5" style="    
height: 200px;
margin: 5px;
background: lightgrey;">
cput logo
</div>
<div class="col-md-1">
    
    </div>
</div> -->


    <div style="    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
position: relative;
background: white;
z-index: 4;
padding: 30px;
width: 80%; margin: auto;
margin-top: 50px;margin-bottom: 50px;
">

<div>

<img style="    width: 96%;
margin: 5px;" src="../../assets/img/logo_centered (1).png">

</div>

<br>


<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 12px; width: 100%;margin-top: 15px;">First Name


<input type="text" style="    width: 100%;
padding: 10px 15px 10px 7px;
border-radius: 2px;
border: solid 1px #e2e2e2;
position: relative;
margin: 0;
font-family: din;
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
height: 80%;
margin-top: 5px;
font-size: 14px;">
</label>

<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 12px; width: 100%;margin-top: 15px;">Last Name


<input type="text" style="    width: 100%;
padding: 10px 15px 10px 7px;
border-radius: 2px;
border: solid 1px #e2e2e2;
position: relative;
margin: 0;
font-family: din;
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
height: 80%;
margin-top: 5px;
font-size: 14px;">
</label>

<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 12px; width: 100%;margin-top: 15px;">Gender


<input type="text" style="    width: 100%;
padding: 10px 15px 10px 7px;
border-radius: 2px;
border: solid 1px #e2e2e2;
position: relative;
margin: 0;
font-family: din;
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
height: 80%;
margin-top: 5px;
font-size: 14px;">
</label>

<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 12px; width: 100%;margin-top: 15px;">ID Number


<input type="text" style="    width: 100%;
padding: 10px 15px 10px 7px;
border-radius: 2px;
border: solid 1px #e2e2e2;
position: relative;
margin: 0;
font-family: din;
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
height: 80%;
margin-top: 5px;
font-size: 14px;">
</label>

<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 12px; width: 100%;margin-top: 15px;">Race


<input type="text" style="    width: 100%;
padding: 10px 15px 10px 7px;
border-radius: 2px;
border: solid 1px #e2e2e2;
position: relative;
margin: 0;
font-family: din;
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
height: 80%;
margin-top: 5px;
font-size: 14px;">
</label>

<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 12px; width: 100%;margin-top: 15px;">Phone Number


<input type="text" style="    width: 100%;
padding: 10px 15px 10px 7px;
border-radius: 2px;
border: solid 1px #e2e2e2;
position: relative;
margin: 0;
font-family: din;
outline: none;
box-shadow: none !important;
-webkit-appearance: none;
height: 80%;
margin-top: 5px;
font-size: 14px;">
</label>



<div style="    margin: auto;
text-align: center;">
<button style="background-image: linear-gradient(-270deg, rgba(0, 150, 119, 1) 0%, rgba(80, 184, 72, 1) 100%);
-webkit-appearance: none;
padding: 12px 25px;
border-radius: .2em;
border: 0;
color: #fff;
background-color: #84bd00;
display: inline-block;
text-transform: uppercase;
cursor: pointer;
text-shadow: none;
font-size: 14px;
line-height: 1.2;
font-family: 'Montserrat', Arial, sans-serif;
-webkit-transition: background-color .2s linear;
-moz-transition: background-color .2s linear;
-ms-transition: background-color .2s linear;
transition: background-color .2s linear;
width: 100%;
margin-top: 20px;
max-width: 250px;"  [routerLink]="['/otp']">Register</button>
</div >



</div>

<div style="text-align: center;">
<label style="  
margin: auto;
font-family: din;
font-weight: 600;
font-size: 18px; width: 100%;margin-bottom: 5px;">Already Registered?</label>

<button style="background-image: linear-gradient(-270deg, rgba(0, 150, 119, 1) 0%, rgba(80, 184, 72, 1) 100%);
-webkit-appearance: none;
padding: 12px 25px;
border-radius: .2em;
border: 0;
color: #fff;
background-color: #84bd00;
display: inline-block;
text-transform: uppercase;
cursor: pointer;
text-shadow: none;
font-size: 14px;
line-height: 1.2;
font-family: 'Montserrat', Arial, sans-serif;
-webkit-transition: background-color .2s linear;
-moz-transition: background-color .2s linear;
-ms-transition: background-color .2s linear;
transition: background-color .2s linear;
width: 100%;
margin-top: 20px;
margin-bottom: 120px;
max-width: 250px;" [routerLink]="['/login']">Log in</button>

</div>

